.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    font-size: 12px;
    padding: 5px;
    width: 200px;
    margin: 10px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.search {
    padding: 10px;
}

.res-logo > img {
    height: 200px;
    width: 100%;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    background-color: #f0f0f0;
    font-size: 12px;
    padding: 5px;
    width: 200px;
    height: 300px;
    margin: 10px;
}

.login-button {
    padding: 0 20px;
    cursor: pointer;
}

.menu-items {
    font: bolder;
}